.header{
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to left, #ff0000, #ff3d66, #ff75ad, #ffa6e0, #f8d1fc, #eed5ff, #e5d9ff, #dedcfe, #c0c3fe, #9dabfe, #6f95ff, #0081ff);
}

.images{
    height: 250px;
    width: 100%;   
}

.card{
    width: 25rem;
    margin: 10px;    
}



@media (min-width: 653px) {

    .images{
        height: 250px;
        width: 250px;    
    }
    
    .card{
        width: 100%;
        margin: 10px;       
    }
    .flexs{
        display: flex;
    }
     
 }

 @media (min-width: 1181px) {

    .images{
        height: 250px;
        width: 100%;        
    }  
    .card{
        width: 25rem;
        margin: 10px;          
    }
    .flexs{
        display: flex;
        flex-direction: column;
    }
     
 }
